<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaokao.main.Mapper.INSTDetailMapper">

    <select id="getHomePageById" parameterType="int" resultType="com.gaokao.main.POJO.Institution">
      select * from institution_info where institution_id=#{institution_id}
    </select>

</mapper>