<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaokao.main.Mapper.INSTDetailMapper">
    
    <sql id="nesting">
        (
            select institution_info.institution_name from institution_info
            where institution_info.institution_id = #{institution_id}
        )
    </sql>

    <select id="getHomePageById" parameterType="int" resultType="com.gaokao.main.DTO.Institution">
      select * from institution_info where institution_id = #{institution_id}
    </select>

    <select id="getIntroductionById" parameterType="int" resultType="com.gaokao.main.DTO.Introduction">
      select * from institution_intro where institution_intro.institution_name = <include refid="nesting"/>
    </select>

    <select id="getADMRulesById" parameterType="int" resultType="com.gaokao.main.DTO.AdmissionRule">
        select * from institution_admission_rule where institution_name = <include refid="nesting"/>
    </select>

    <select id="getACCOMDNById" parameterType="int" resultType="com.gaokao.main.DTO.Accommodation">
        select * from institution_accommodation where institution_name = <include refid="nesting"/>
    </select>

    <select id="getScholarshipSet" parameterType="int" resultType="com.gaokao.main.DTO.Scholarship">
        select * from scholarship_set where institution_name = <include refid="nesting"/>
    </select>

    <select id="getChargingItemById" parameterType="int" resultType="com.gaokao.main.DTO.ChargingItem">
        select * from charging_item where institution_name = <include refid="nesting"/>
    </select>

    <select id="getEnrollREGById" parameterType="int" resultType="com.gaokao.main.DTO.EnrollRegulation">
        select * from institution_enroll_regulation where institution_name = <include refid="nesting"/>
    </select>

    <select id="getOfferMajorInfoById" parameterType="String" resultType="java.util.Map">
        SELECT
                institution_name, major_category,
                GROUP_CONCAT(CONCAT_WS('-',offer_major_id, offer_major)) AS children
        FROM
                institution_offer_major
        WHERE institution_name=(
                SELECT institution_name FROM institution_info WHERE institution_id=#{institution_id}
        ) AND major_degree=#{major_degree} GROUP BY major_category DESC
    </select>

</mapper>