<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaokao.main.Mapper.MajorMapper">

    <select id="getCATClassGroupByCAT" parameterType="java.lang.String" resultType="java.util.Map">
        select distinct major_category_id,major_category,major_class from major_category NATURAL JOIN major_class NATURAL JOIN major_info where major_info.major_degree=#{major_rank}
    </select>

    <select id="getCategoryInfo" resultType="java.util.Map">
        select distinct major_category_id,major_category from major_category NATURAL JOIN major_class NATURAL JOIN major_info where major_info.major_degree=#{major_rank}
    </select>

    <select id="getMajorDetailInfo" parameterType="java.util.Map" resultType="com.gaokao.main.POJO.Major">
        select * from major_info
        <where>
            <choose>
                <when test="major_rank != null and major_class != null">
                    major_degree=#{major_rank} and major_class=#{major_class}
                </when>
                <otherwise>
                    <if test="major_id != null">
                        major_id=#{major_id}
                    </if>
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getMajorInfoByClass" parameterType="java.lang.String" resultType="com.gaokao.main.POJO.Major">
        select major_id,major_name from major_info where major_class=#{major_class}
    </select>

    <select id="getProvinceSalaryById" resultType="com.gaokao.main.POJO.Salary">
        select province_salary_level_id,major_name,province name,salary_level value from province_salary_level where major_name=(
        select major_name from major_info where major_id=#{major_id}
        )
    </select>

</mapper>