<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaokao.main.Mapper.UserMapper">

    <select id="getUserByUserAccount" parameterType="String" resultType="com.gaokao.main.POJO.User">
      select * from user_info where user_account=#{user_account}
    </select>

    <select id="getUserINTByUserAccount" parameterType="String" resultType="java.lang.String">
        select major_sort from user_major_agency where user_account=#{user_account}
    </select>

    <update id="updateEditedUserInfo" parameterType="com.gaokao.main.POJO.User">
        update user_info set <if test="user_password != ''.toString()">user_password=#{user_password},</if>  user_grade=#{user_grade}, user_address=#{user_address}, user_sex=#{user_sex}, user_degree=#{user_degree}
          where user_account=#{user_account}
    </update>

    <insert id="insertSingleUser" parameterType="com.gaokao.main.POJO.User">
        insert into user_info (user_account, user_password, user_grade, user_address, user_sex, user_degree) values
            (#{user_account}, #{user_password}, #{user_grade}, #{user_address}, #{user_sex}, #{user_degree})
    </insert>

</mapper>